*{
    padding: 0;
    margin: 0;
}
img:hover,.col s4:hover{
        cursor: pointer;
        transition: all 0.3s ease-out;
      transform: scale(1.10);
      
}
a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}